<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572777859602-vc8ja6t1hiorkf0vroa2kieqcfsltauo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572777859602-vc8ja6t1hiorkf0vroa2kieqcfsltauo</string>
	<key>API_KEY</key>
	<string>AIzaSyDmkz3YVFlnSNsMiwcFadWRkQR5Gr2rBsI</string>
	<key>GCM_SENDER_ID</key>
	<string>572777859602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financialApp</string>
	<key>PROJECT_ID</key>
	<string>financial-app-project</string>
	<key>STORAGE_BUCKET</key>
	<string>financial-app-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572777859602:ios:85a0c0d55db79ad323a6cb</string>
</dict>
</plist>